[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"fastapi[all]" = "~=0.104"
uvicorn = "~=0.24"
"sqlalchemy[asyncio]" = "~=2.0"
aiomysql = "*"
alembic = "*"
pymysql = "*"
cryptography = "*"
python-dotenv = "*"

[requires]
python_version = "3"
